<a href="https://colab.research.google.com/github/fawazdhianabil/Project/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nomor 1**

In [1]:
def nomor1(a,b): # fungsi nomor1 dengan parameter a,b
  if len(a)>1: # jika panjang list lebih dari 1
    b = b # b sama dengan b
    a = a[len(a)-b:] # mengambil element
    b = b - 1 # mengurangi nilai b
    print(' '.join(map(str,a))) # menampilkan element
    return nomor1(a,b) # memanggil fungsi nomor1

In [2]:
nomor1([1,3,5,7,9],5)

1 3 5 7 9
3 5 7 9
5 7 9
7 9
9

# **Nomor 2**

In [3]:
import numpy as np 
randnums = np.array([18,15,57,54,62,16,95,28,76,83,71,84,38,57,78,96,34,
                     66,39,50,32,25,80,29,54,28,65,15,26,8,61,66,25,38,
                     78,99,14,49,43,2,80,65,18,30,25,65,30,66,64,81,66,
                     5,16,44,12,24,78,89,5,96,61,7,97,59,22,8,3,19,
                     72,33,72,22,56,53,36,83,69,22,70,6,26,40,89,97,44,
                     40,83,18,80,89,61,91,19,61,56,16,29,11,26,92])

In [4]:
def bilangan_tiga_dan_lima(randnums):
  arr_3 = [] # list kosong
  arr_5 = [] # list kosong
  for angka in randnums: # membuat perulangan
    if angka % 3 == 0: # jika modulo 3 terpenuhi
      arr_3.append(1) # tambah nilai 1
  for angka in randnums: # membuat perulangan
    if angka % 5 == 0: # jika modulo 5 terpenuhi
      arr_5.append(1) # tambah nilai 1
  # menampilkan panjang data
  print('jumlah kemunculan nilai yang habis dibagi 3 adalah :',len(arr_3))
  print('jumlah kemunculan nilai yang habis dibagi 5 adalah :',len(arr_5))

In [5]:
bilangan_tiga_dan_lima(randnums)

jumlah kemunculan nilai yang habis dibagi 3 adalah : 33
jumlah kemunculan nilai yang habis dibagi 5 adalah : 20

# **Nomor 3**

In [6]:
arr1 = ['mobil 1', 'mobil 2', 'mobil 3', 'mobil 4', 'mobil 5', 'mobil 6', 'mobil 7']
arr2 = ['bus 1', 'bus 2','bus 3', 'bus 4']
arr3 = ['motor 1', 'motor 2', 'motor 3', 'motor 4', 'motor 5', 'motor 6']
arr4 = ['truck 1','truck 2','truck 3', 'truck 4', 'truck 5']
arr5 = ['kucing 1', 'kucing 2', 'kucing 3', 'kucing 4', 'kucing 5', 'kucing 6', 'kucing 7', 'kucing 8']

In [7]:
def bolak_balik(arr): # fungsi bolak balik dengan paramater arr
  # membuat variabel arr dengan menggunakan fungsi sorted() untuk mengurutkan element
  arr = sorted(arr,key=lambda x: int(''.join(filter(str.isdigit, x))),reverse=True)
  return arr

In [8]:
arr1 = bolak_balik(arr1)
arr1

['mobil 7', 'mobil 6', 'mobil 5', 'mobil 4', 'mobil 3', 'mobil 2', 'mobil 1']

In [9]:
arr2 = bolak_balik(arr2)
arr2

['bus 4', 'bus 3', 'bus 2', 'bus 1']

In [10]:
arr3 = bolak_balik(arr3)
arr3

['motor 6', 'motor 5', 'motor 4', 'motor 3', 'motor 2', 'motor 1']

In [11]:
arr4 = bolak_balik(arr4)
arr4

['truck 5', 'truck 4', 'truck 3', 'truck 2', 'truck 1']

In [12]:
arr5 = bolak_balik(arr5)
arr5

['kucing 8',
 'kucing 7',
 'kucing 6',
 'kucing 5',
 'kucing 4',
 'kucing 3',
 'kucing 2',
 'kucing 1']